.i
    position: relative
    font-size: 0
    &::before,
    &::after
        content: ''
        display: inline-block
        vertical-align: middle

.i-cart
    &::before
        width: 20px
        height: 20px
        background: url("~static/images/icon/icon-cart.svg") no-repeat center / 100% auto
        
.i-like
    &::before
        width: 20px
        height: 20px
        background: url("~static/images/icon/icon-like.svg") no-repeat center / 100% auto

.i-member
    &::before
        width: 20px
        height: 20px
        background: url("~static/images/icon/icon-member.svg") no-repeat center / 100% auto

.i-search
    &::before
        width: 20px
        height: 20px
        background: url("~static/images/icon/icon-search.svg") no-repeat center / 100% auto

.i-carousel-left
    &::before
        width: 21.2px
        height: 21.2px
        background: url("~static/images/icon/icon-arrow-left.svg") no-repeat center / 100% auto

.i-carousel-right
    &::before
        width: 21.2px
        height: 21.2px
        background: url("~static/images/icon/icon-arrow-right.svg") no-repeat center / 100% auto

.i-shop
    &::before
        width: 30px
        height: 30px
        background: url("~static/images/icon/icon-shop.svg") no-repeat center / 100% auto
    &-large
        &::before
            width: 66px
            height: 66px

.i-facebook
    &::before
        width: 26px
        height: 26px
        background: url("~static/images/icon/icon-facebook.svg") no-repeat center / 100% auto

.i-instagram
    &::before
        width: 26px
        height: 26px
        background: url("~static/images/icon/icon-instagram.svg") no-repeat center / 100% auto
        
.i-youtube
    &::before
        width: 26px
        height: 26px
        background: url("~static/images/icon/icon-youtube.svg") no-repeat center / 100% auto
