$color-black: #000
$color-black-2: #1A242A

$color-white: #ffffff
$color-primary-1: #207D92

$color-gray: #727987

$gray-50: #FFFFFF
$gray-100: #FAFAFA
$gray-200: #F5F5F5
$gray-300: #F0F0F0
$gray-400: #DEDEDE
$gray-500: #C2C2C2
$gray-600: #979797
$gray-700: #818181
$gray-800: #606060
$gray-900: #3C3C3C


$black: $color-black
$black-2: $color-black-2

$white: $color-white
$primary: $color-primary-1

$gray: $color-gray
